html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/*Splash Page Title*/
#title {
  background-image: url('./imgs/logo.png');
  position: absolute;
  left: 51%;
  top: 10%;
  margin-left: -200px;
  height: 240px;
  width: 400px;
}

/*Google Maps*/
#map {
  height: 300px;
  opacity: 0;
}

/*Inputs*/
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#search-button {
  position: absolute;
  z-index: 1;
  background: transparent;
  box-shadow: 2px 2px 10px #888;
  transition: all 1s;
  cursor: pointer;
  border-radius: 50%;
}
#search-button:hover {
  background: #ddd;
}
.initial {
  left: 81%;
  top: 51.8%;
  padding: 12px;
}
.after {
  left: 81%;
  top: 10px;
  padding: 4px;
}

#pac-input {
  background-color: #fff;
  font-size: 2em;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 50px;
  margin-left: -30%;
  z-index: 1;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/*Listings below map*/
#listings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  align-items: center;
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url('./imgs/balls.gif');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-blend-mode: multiply;
  transition: all 0.5s ease-in;
  white-space: nowrap;
}

.listings:hover {
  background-color: transparent;
}

/*Details when listing active*/
.details {
  width: 100%;
  height: auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  white-space: normal;
}

/*Mobile sizing*/
@media (max-width: 600px) {
  .listings {
    font-size: 1.5em;
  }
  .details {
    font-size: 15px;
  }
}
